<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/viewPostStyle.css" type="text/css">
    <script src="https://kit.fontawesome.com/c6d4bf1353.js" crossorigin="anonymous"></script>
    <script src="/scripts/viewPostScript.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/images/media.png" >
    <title>TV Reviews</title>
</head>
<body>
    <nav>
        <span id="menuButton" class="fa-solid fa-bars icon"></span>
        <h1>TV Reviews</h1>
    </nav>
    <aside id="menu">
        <a href="/">
        <span class="fa-solid fa-house icon"></span>
        Home</a>

        <a href="/form">
        <span class="fa-solid fa-pen icon"></span>
        Post a Review</a>

        <a href="/search">
        <span class="fa-solid fa-magnifying-glass icon"></span> 
        Search</a>
    </aside>
        <section id="post">
                <aside>
                    <div>
                        <!-- show_title, genres, audience_rating,
                        star_rating, review_title, review_comment, username -->
                        <p class="genreLabel">Genres:</p>
                        <p class="genreLabel">
                        <% if (data[0].genres.includes(",")){ %>
                            <% const genres = data[0].genres.split(","); %>
                            <% for (let i = 0; i < genres.length; i++) { %>
                                <a href="/search/genre/<%= genres[i] %>"> <%= genres[i] %> </a>
                                <br>
                            <% } %>
                        <% } else { %>
                            <a href="/search/genre/<%= data[0].genres %>"><%= data[0].genres %></a>
                        <% } %>
                        </p>
                    </div>

                    <p>
                        <% if (data[0].audience_rating === "unrated"){ %>
                            Unrated
                        <% } else { %>
                            TV-<%= data[0].audience_rating %>
                        <% } %>
                    </p>
                </aside>
                <main>
                    <div id="nameDate">
                        <p id="usernameDisplay" href="/search/username/<%= data[0].username %>">Review by 
                            <a href="/search/username/<%= data[0].username %>">
                                <%= data[0].username %>
                            </a>
                        </p>
                        <p><%=data[0].timestamp.toLocaleDateString() %></p>
                    </div>

                    <hr>
                    <div id="titleBox">
                        <h1><%= data[0].show_title %></h1>    
                    </div>
                    
                    <div id="ratingStars">
                        <% for (let i = 0; i < data[0].star_rating; i++) { %>
                            <span class="fa-solid fa-star"></span>
                        <% } %>
                        <span id="numberStars"><%= data[0].star_rating %> star<% if (data[0].star_rating > 1) {%>s<% } %>
                        </span>
                    </div>
                    <h3><%= data[0].review_title %></h3>
                    <p id="commentField"><%= data[0].review_comment %></p>
                </main>
        </section>
        <h2>Related Posts</h2>
        <section id="recentPostsDisplay">
            <% if (related.length !== 0){ %>
                <% for (let i =0; i < related.length; i++){ %>
                    <% if (i > 3){ %>
                        <div class="recentPost extraRelatedPost" onclick="this.firstElementChild.submit()">
                            <form action="/viewPost/<%=related[i].id%>" method="get" >
                            <div class="showInfo">
                                <h3><%= related[i].show_title %></h3>
                                <p>
                                    <% if (related[i].audience_rating === "unrated"){ %>
                                        Unrated
                                    <% } else { %>
                                        TV-<%= related[i].audience_rating %>
                                    <% } %>
                                </p>
                            </div>
                            <hr>
                            <% let stars = Number(related[i].star_rating); %>
                            <% for (let i =0; i < stars ; i++){ %>
                                <span class="fa-solid fa-star"></span>
                            <% } %>
                            <div class="reviewInfo">
                                <p class="reviewTitle"><%= related[i].review_title %></p>
                                <a class="usernameDisplay" href="/search/username/<%= related[i].username %>">
                                    By: <%= related[i].username %>
                                </a>
                            </div>
                            </form>
                        </div>
                    <% } else { %>
                        <div class="recentPost" onclick="this.firstElementChild.submit()">
                            <form action="/viewPost/<%=related[i].id%>" method="get" >
                            <div class="showInfo">
                                <h3><%= related[i].show_title %></h3>
                                <p>
                                    <% if (related[i].audience_rating === "unrated"){ %>
                                        Unrated
                                    <% } else { %>
                                        TV-<%= related[i].audience_rating %>
                                    <% } %>
                                </p>
                            </div>
                            <hr>
                            <% let stars = Number(related[i].star_rating); %>
                            <% for (let i =0; i < stars ; i++){ %>
                                <span class="fa-solid fa-star"></span>
                            <% } %>
                            <div class="reviewInfo">
                                <p class="reviewTitle"><%= related[i].review_title %></p>
                                <a class="usernameDisplay" href="/search/username/<%= related[i].username %>">
                                    By: <%= related[i].username %>
                                </a>
                            </div>
                            </form>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
        </section>
        <div id="pageSuggestion">
            <a href="/form"><span class="fa-solid fa-pen"></span></a>
            <a href="/search"><span class="fa-solid fa-magnifying-glass"></span></a>
        </div>
</body>
</html>